# Dépendances
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out
build

# Production
dist

# Misc
.DS_Store
*.pem

# Debug
*.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Testing
coverage
.nyc_output

# Cache
.cache
.parcel-cache
